<div>
  <h2 id="page-heading" data-cy="CajaHeading">
    <span>Modulo Inventario - SALIDAS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAllSalidas()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualizar</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-caja"
        (click)="nuevaSalida()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nueva Salida </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="listaSalidas?.length === 0">
    <span>No salidas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="listaSalidas && listaSalidas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Fecha de Salida</span></th>
          <th scope="col"><span>Cliente</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salida of listaSalidas; trackBy: trackId" data-cy="entityTable">
          <td>{{ salida.fecCrea }}</td>
          <td>{{ salida.cliente?.nombresCli }} {{ salida.cliente?.apellidosCli }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
