<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="operaContable">
      <h2 data-cy="operaContableDetailsHeading"><span>Opera Contable</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ operaContable.id }}</span>
        </dd>
        <dt><span>Desc Opera</span></dt>
        <dd>
          <span>{{ operaContable.descOpera }}</span>
        </dd>
        <dt><span>Area Rela</span></dt>
        <dd>
          <span>{{ operaContable.areaRela }}</span>
        </dd>
        <dt><span>Cod Lib</span></dt>
        <dd>
          <span>{{ operaContable.codLib }}</span>
        </dd>
        <dt><span>Fec Crea</span></dt>
        <dd>
          <span>{{ operaContable.fecCrea | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Usu Crea</span></dt>
        <dd>
          <span>{{ operaContable.usuCrea }}</span>
        </dd>
        <dt><span>Ip Crea</span></dt>
        <dd>
          <span>{{ operaContable.ipCrea }}</span>
        </dd>
        <dt><span>Fec Modif</span></dt>
        <dd>
          <span>{{ operaContable.fecModif | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Usu Modif</span></dt>
        <dd>
          <span>{{ operaContable.usuModif }}</span>
        </dd>
        <dt><span>Ip Modif</span></dt>
        <dd>
          <span>{{ operaContable.ipModif }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/opera-contable', operaContable.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
