<div>
  <h2 id="page-heading" data-cy="ClienteHeading">
    <span>Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cliente"
        [routerLink]="['/cliente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Cliente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span>No Clientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipDocCli"><span>Tip Doc Cli</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nroDocCli"><span>Nro Doc Cli</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombresCli"><span>Nombres Cli</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="apellidosCli"><span>Apellidos Cli</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tel1"><span>Tel 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tel2"><span>Tel 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="correo"><span>Correo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="direccion"><span>Direccion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="refDireccion"><span>Ref Direccion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="distrito"><span>Distrito</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecNac"><span>Fec Nac</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="estado"><span>Estado</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="version"><span>Version</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="indDel"><span>Ind Del</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecCrea"><span>Fec Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usuCrea"><span>Usu Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ipCrea"><span>Ip Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecModif"><span>Fec Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usuModif"><span>Usu Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ipModif"><span>Ip Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a>
          </td>
          <td>{{ cliente.tipDocCli }}</td>
          <td>{{ cliente.nroDocCli }}</td>
          <td>{{ cliente.nombresCli }}</td>
          <td>{{ cliente.apellidosCli }}</td>
          <td>{{ cliente.tel1 }}</td>
          <td>{{ cliente.tel2 }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.direccion }}</td>
          <td>{{ cliente.refDireccion }}</td>
          <td>{{ cliente.distrito }}</td>
          <td>{{ cliente.fecNac | formatMediumDatetime }}</td>
          <td>{{ cliente.estado }}</td>
          <td>{{ cliente.version }}</td>
          <td>{{ cliente.indDel }}</td>
          <td>{{ cliente.fecCrea | formatMediumDatetime }}</td>
          <td>{{ cliente.usuCrea }}</td>
          <td>{{ cliente.ipCrea }}</td>
          <td>{{ cliente.fecModif | formatMediumDatetime }}</td>
          <td>{{ cliente.usuModif }}</td>
          <td>{{ cliente.ipModif }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
