<div class="row">
  <div [ngSwitch]="isAuthenticated()" class="col-md-12">
    <div class="row">
      <div class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CAJERO']">
        <a
          class="btn btn-sq-lg btn-primary btn-block"
          routerLink="isla"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="cash-img"></span>

          Isla <br />
        </a>
      </div>

      <div class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CAJERO', 'ROLE_GERENTE']">
        <a href="#" class="btn btn-sq-lg btn-warning btn-block" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="cancelbill-img"></span>
          Anular Comprobante<br />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GERENTE']">
        <a
          href="#"
          class="btn btn-sq-lg btn-secondary btn-block"
          routerLink="clusterkafka"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="target-img"></span>

          Clientes<br />
        </a>
      </div>
      <div class="col-sm-4" class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GERENTE']">
        <a
          href="#"
          class="btn btn-sq-lg btn-success btn-block"
          routerLink="servidores"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="analytics-img"></span>
          Reportes<br />
        </a>
      </div>
      <div class="col-sm-4" class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GERENTE']">
        <a
          href="#"
          class="btn btn-sq-lg btn-dark btn-block"
          routerLink="producto"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="box-img"></span>
          Productos<br />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GERENTE']">
        <a
          href="#"
          class="btn btn-sq-lg btn-warning btn-block"
          routerLink="admin/user-management"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="users-img"></span>
          Usuarios de Sistema<br />
        </a>
      </div>
      <div class="col-sm-4" class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GERENTE']">
        <a
          href="#"
          class="btn btn-sq-lg btn-primary btn-block"
          routerLink="mantenimientoEmpleados"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="team-img"></span>
          Empleados<br />
        </a>
      </div>
      <div class="col-sm-4" class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GERENTE']">
        <a
          href="#"
          class="btn btn-sq-lg btn-warning btn-block"
          routerLink="mantenimientoCajas"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="caja-img"></span>
          Administracion Cajas<br />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" class="col-sm-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GERENTE']">
        <a
          href="#"
          class="btn btn-sq-lg btn-success btn-block"
          routerLink="mantenimientoCajas"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="deal-img"></span>
          Autorizaciones<br />
        </a>
      </div>
    </div>
    <div class="row"></div>
  </div>
</div>
