<div>
  <h2 id="page-heading" data-cy="RegComprasHeading">
    <span>Reg Compras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reg-compras"
        [routerLink]="['/reg-compras/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Reg Compras </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="regCompras?.length === 0">
    <span>No Reg Compras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="regCompras && regCompras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="periodo"><span>Periodo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cuo"><span>Cuo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="asientContab"><span>Asient Contab</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecEmiComp"><span>Fec Emi Comp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecVencComp"><span>Fec Venc Comp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipComp"><span>Tip Comp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nroSerieComp"><span>Nro Serie Comp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="anhoEmisionDua"><span>Anho Emision Dua</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nroComp"><span>Nro Comp</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nroFinal"><span>Nro Final</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipDocProv"><span>Tip Doc Prov</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nroDocProv"><span>Nro Doc Prov</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomApeRazSocProv"><span>Nom Ape Raz Soc Prov</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="baseImponible"><span>Base Imponible</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montoIgv"><span>Monto Igv</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="baseImponible2"><span>Base Imponible 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montoIgv2"><span>Monto Igv 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="baseImponible3"><span>Base Imponible 3</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montoIgv3"><span>Monto Igv 3</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montoNoGravado"><span>Monto No Gravado</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="montoIsc"><span>Monto Isc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="impConsBols"><span>Imp Cons Bols</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="otrosCargos"><span>Otros Cargos</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="importeTotal"><span>Importe Total</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codMoneda"><span>Cod Moneda</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipCambio"><span>Tip Cambio</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecEmiModif"><span>Fec Emi Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipCompModif"><span>Tip Comp Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nroSerieCompModif"><span>Nro Serie Comp Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codDuaRef"><span>Cod Dua Ref</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nroCompModif"><span>Nro Comp Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecEmiDetracc"><span>Fec Emi Detracc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nroConstDetracc"><span>Nro Const Detracc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="indCompSujRetenc"><span>Ind Comp Suj Retenc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="clasBienesyServicios"><span>Clas Bienesy Servicios</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="identContrato"><span>Ident Contrato</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="errTipUno"><span>Err Tip Uno</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="errTipDos"><span>Err Tip Dos</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="errTipTres"><span>Err Tip Tres</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="errTipCuatro"><span>Err Tip Cuatro</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="indCompPagoMedPago"><span>Ind Comp Pago Med Pago</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="estado"><span>Estado</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="campoLibre"><span>Campo Libre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="indDel"><span>Ind Del</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecCrea"><span>Fec Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usuCrea"><span>Usu Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ipCrea"><span>Ip Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecModif"><span>Fec Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usuModif"><span>Usu Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ipModif"><span>Ip Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="orden.id"><span>Orden</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let regCompras of regCompras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reg-compras', regCompras.id, 'view']">{{ regCompras.id }}</a>
          </td>
          <td>{{ regCompras.periodo }}</td>
          <td>{{ regCompras.cuo }}</td>
          <td>{{ regCompras.asientContab }}</td>
          <td>{{ regCompras.fecEmiComp | formatMediumDatetime }}</td>
          <td>{{ regCompras.fecVencComp | formatMediumDatetime }}</td>
          <td>{{ regCompras.tipComp }}</td>
          <td>{{ regCompras.nroSerieComp }}</td>
          <td>{{ regCompras.anhoEmisionDua }}</td>
          <td>{{ regCompras.nroComp }}</td>
          <td>{{ regCompras.nroFinal }}</td>
          <td>{{ regCompras.tipDocProv }}</td>
          <td>{{ regCompras.nroDocProv }}</td>
          <td>{{ regCompras.nomApeRazSocProv }}</td>
          <td>{{ regCompras.baseImponible }}</td>
          <td>{{ regCompras.montoIgv }}</td>
          <td>{{ regCompras.baseImponible2 }}</td>
          <td>{{ regCompras.montoIgv2 }}</td>
          <td>{{ regCompras.baseImponible3 }}</td>
          <td>{{ regCompras.montoIgv3 }}</td>
          <td>{{ regCompras.montoNoGravado }}</td>
          <td>{{ regCompras.montoIsc }}</td>
          <td>{{ regCompras.impConsBols }}</td>
          <td>{{ regCompras.otrosCargos }}</td>
          <td>{{ regCompras.importeTotal }}</td>
          <td>{{ regCompras.codMoneda }}</td>
          <td>{{ regCompras.tipCambio }}</td>
          <td>{{ regCompras.fecEmiModif | formatMediumDatetime }}</td>
          <td>{{ regCompras.tipCompModif }}</td>
          <td>{{ regCompras.nroSerieCompModif }}</td>
          <td>{{ regCompras.codDuaRef }}</td>
          <td>{{ regCompras.nroCompModif }}</td>
          <td>{{ regCompras.fecEmiDetracc | formatMediumDatetime }}</td>
          <td>{{ regCompras.nroConstDetracc }}</td>
          <td>{{ regCompras.indCompSujRetenc }}</td>
          <td>{{ regCompras.clasBienesyServicios }}</td>
          <td>{{ regCompras.identContrato }}</td>
          <td>{{ regCompras.errTipUno }}</td>
          <td>{{ regCompras.errTipDos }}</td>
          <td>{{ regCompras.errTipTres }}</td>
          <td>{{ regCompras.errTipCuatro }}</td>
          <td>{{ regCompras.indCompPagoMedPago }}</td>
          <td>{{ regCompras.estado }}</td>
          <td>{{ regCompras.campoLibre }}</td>
          <td>{{ regCompras.indDel }}</td>
          <td>{{ regCompras.fecCrea | formatMediumDatetime }}</td>
          <td>{{ regCompras.usuCrea }}</td>
          <td>{{ regCompras.ipCrea }}</td>
          <td>{{ regCompras.fecModif | formatMediumDatetime }}</td>
          <td>{{ regCompras.usuModif }}</td>
          <td>{{ regCompras.ipModif }}</td>
          <td>
            <div *ngIf="regCompras.orden">
              <a [routerLink]="['/orden', regCompras.orden.id, 'view']">{{ regCompras.orden?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reg-compras', regCompras.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reg-compras', regCompras.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(regCompras)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
