<div>
  <h2 id="page-heading" data-cy="CajaHeading">
    <span>Modulo Inventario - PRODUCTOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadCajas()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualizar</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-caja"
        (click)="nuevoProducto()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nuevo Producto </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inventarioProductos?.length === 0">
    <span>No cajas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inventarioProductos && inventarioProductos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Cod Producto</span></th>
          <th scope="col"><span>Descripcion</span></th>
          <th scope="col"><span>Total Ingresos</span></th>
          <th scope="col"><span>Total Salidas</span></th>
          <th scope="col"><span>Stock Actual</span></th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of inventarioProductos; trackBy: trackId" data-cy="entityTable">
          <td>{{ producto.codProducto }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.montoIngreso }}</td>
          <td>{{ producto.montoSalida }}</td>
          <td>{{ producto.montoIngreso - producto.montoSalida }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
