<div>
  <h2 id="page-heading" data-cy="CajaHeading">
    <span>Modulo Inventario - PRODUCTOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadCajas()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualizar</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-caja"
        [routerLink]="['/producto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nuevo Producto </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cajas?.length === 0">
    <span>No cajas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cajas && cajas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Cod Producto</span></th>
          <th scope="col"><span>Descripcion</span></th>
          <th scope="col"><span>Cantidad</span></th>
          <th scope="col"><span>Valor</span></th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caja of cajas; trackBy: trackId" data-cy="entityTable">
          <td>{{ caja.tipCaja }}</td>
          <td>{{ caja.descripcion }}</td>
          <td>{{ caja.estado }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                (click)="aperturarCaja(caja)"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
                *ngIf="caja.estado == '01'"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Aperturar</span>
              </button>
              <button
                type="submit"
                (click)="cerrarCaja(caja)"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
                *ngIf="caja.estado == '02'"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Cerrar</span>
              </button>
              <button type="submit" [routerLink]="['/caja', caja.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(caja)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
