<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="secuencias">
      <h2 data-cy="secuenciasDetailsHeading"><span>Secuencias</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ secuencias.id }}</span>
        </dd>
        <dt><span>Seqid</span></dt>
        <dd>
          <span>{{ secuencias.seqid }}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
          <span>{{ secuencias.descripcion }}</span>
        </dd>
        <dt><span>Sequence</span></dt>
        <dd>
          <span>{{ secuencias.sequence }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/secuencias', secuencias.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
