<div>
  <h2 id="page-heading" data-cy="MovimientoCajaHeading">
    <span>Movimiento Cajas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-movimiento-caja"
        [routerLink]="['/movimiento-caja/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Movimiento Caja </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="movimientoCajas?.length === 0">
    <span>No Movimiento Cajas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="movimientoCajas && movimientoCajas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipMovimiento"><span>Tip Movimiento</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="monto"><span>Monto</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipMoneda"><span>Tip Moneda</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecMovimiento"><span>Fec Movimiento</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="version"><span>Version</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="indDel"><span>Ind Del</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecCrea"><span>Fec Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usuCrea"><span>Usu Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ipCrea"><span>Ip Crea</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecModif"><span>Fec Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usuModif"><span>Usu Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ipModif"><span>Ip Modif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="historicoCaja.id"><span>Historico Caja</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autorizacion.id"><span>Autorizacion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimientoCaja of movimientoCajas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/movimiento-caja', movimientoCaja.id, 'view']">{{ movimientoCaja.id }}</a>
          </td>
          <td>{{ movimientoCaja.tipMovimiento }}</td>
          <td>{{ movimientoCaja.monto }}</td>
          <td>{{ movimientoCaja.tipMoneda }}</td>
          <td>{{ movimientoCaja.fecMovimiento | formatMediumDatetime }}</td>
          <td>{{ movimientoCaja.version }}</td>
          <td>{{ movimientoCaja.indDel }}</td>
          <td>{{ movimientoCaja.fecCrea | formatMediumDatetime }}</td>
          <td>{{ movimientoCaja.usuCrea }}</td>
          <td>{{ movimientoCaja.ipCrea }}</td>
          <td>{{ movimientoCaja.fecModif | formatMediumDatetime }}</td>
          <td>{{ movimientoCaja.usuModif }}</td>
          <td>{{ movimientoCaja.ipModif }}</td>
          <td>
            <div *ngIf="movimientoCaja.historicoCaja">
              <a [routerLink]="['/historico-caja', movimientoCaja.historicoCaja.id, 'view']">{{ movimientoCaja.historicoCaja?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="movimientoCaja.autorizacion">
              <a [routerLink]="['/autorizacion', movimientoCaja.autorizacion.id, 'view']">{{ movimientoCaja.autorizacion?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/movimiento-caja', movimientoCaja.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/movimiento-caja', movimientoCaja.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(movimientoCaja)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
