<div>
  <h2 id="page-heading" data-cy="CajaHeading">
    <span>Modulo Inventario - INGRESOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAllIngresos()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualizar</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-caja"
        (click)="nuevoIngreso()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Nuevo Ingreso </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="listaIngresos?.length === 0">
    <span>No Ingresos encontrados</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="listaIngresos && listaIngresos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Fecha de Ingreso</span></th>
          <th scope="col"><span>Proveedor</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingreso of listaIngresos; trackBy: trackId" data-cy="entityTable">
          <td>{{ ingreso.fecCrea }}</td>
          <td>{{ ingreso.proveedor?.nombresRazonSocProv }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
